.col {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.col_last {
	margin-right: 0px;
}

.col_1 {
	width: 166px;
}

.col_2 {
	width: 352px;
}

.col_3 {
	width: 538px;
}

.col_4 {
	width: 724px;
}

.col_5 {
	width: 910px;
}

.col_6 {
	width: 1096px;
}
